{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} | Wishes {% endblock %}
{% block body %}

    <div class="container">
        <h1 id="titrePage">Liste des souhaits</h1>


        <table>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Auteur</th>
                <th>Date de Création</th>
            </tr>
            {% for wish in wishes %}
            <tr>
                <td><a href="{{ path('wish_detail',{'id': wish.id}) }}" >{{ wish.title }}</a></td>
                <td>{{ wish.description }}</td>
                <td>{{ wish.author }}</td>
                <td>{{ wish.dateCreated|date('d/m/Y') }}</td>

            </tr>
                {% else %}
                <div>There are no wishes!</div>
            {% endfor %}
        </table>
    </div>

{% endblock %}