<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}BucketList{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="icon" href="{{ asset('favicon/favicon.png') }}">
</head>
<body>
    <header>
        <div class="logoo">
            <a href="{{ path('main_home') }}" title="Back home" class="top-logo">
                <img id="logoSite" src="{{ asset('img/logo.svg') }}" alt="BucketList!">
            </a>
            <h1 id="titreLogo">!! BucketList !!</h1>

        </div>
        <div class="headLink">
            <a href="{{ path('main_aboutUs') }}" title="About us">About Us</a>
            <a href="{{ path('wish_list') }}" title="Liste des idées">Liste des idées</a>
        </div>

    </header>
    <main>

        {% block body %}
            <div class="container">
            <h1 id="titrePage">Accueil</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur deserunt enim exercitationem
                    fugiat iure maxime mollitia perferendis velit. Culpa, error explicabo incidunt inventore ipsa minima
                    nemo nihil repellendus rerum totam.
                </p>

            </div>

        {% endblock %}

    </main>
<footer>©Bucket-List {{ "now"|date('d/m/Y') }}</footer>
</body>
</html>